body {
	background-image: url(Imagens/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: 100% 100%;
}

#navbar ul{
	margin-left: 10%;
}

input {
	text-align: center;
}

#parametros{
	display: inline;
}

#parametros p{
	margin-left: 40px;
}

#parametros2{
	display: inline;
}

#parametros2 p{
	margin-left: 20px;
}

#parametros2 input{
	margin-left: 20px;
}

#resultado {
	margin-top: 40px;
}

#resultado2 {
	margin-top: 40px;
	margin-left: 70px;
}